.manager-vacation-container {
  width: 90%;
  height: 90%;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 .4rem 3rem -.8rem #0a0a1433;
  border: 1px solid #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.manager-vacation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.manager-vacation-header h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #222;
  margin-top: 0;
  text-align: left;
}

.manager-vacation-search {
  display: flex;
  align-items: center;
}

.manager-vacation-search input {
  padding: 8px 16px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  margin-right: 5px;
}

.manager-vacation-search input:focus {
  border-color: #ED234B;
  outline: none;
}

.manager-vacation-search .filter-button {
  background-color: #ed234b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 16px;
}

.manager-vacation-search .filter-button:hover {
  opacity: 0.7;
}

.manager-vacation-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.manager-vacation-table th,
.manager-vacation-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.manager-vacation-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #222;
}

.status {
  display: inline-block;
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 14px;
}

.status-pending {
  background-color: #bababa;
  color: #fff;
}

.status-approved {
  background-color: #D9F7E7;
  color: #30A164;
}

.status-rejected {
  background-color: #FEE2E2;
  color: #B91C1C;
}

.manager-vacation-actions .vacation-btn {
  margin-right: 10px;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.manager-vacation-actions .approve {
  background-color: rgb(0, 185, 0);
  color: #fff;
}

.manager-vacation-actions .approve:hover {
  opacity: 0.7;
}

.manager-vacation-actions .reject {
  background-color: #ea4163;
  color: #fff;
}

.manager-vacation-actions .reject:hover {
  opacity: 0.7;
}

.manager-vacation-actions .download {
  background-color: #0059ff;
  color: #fff;
}

.manager-vacation-actions .download:hover {
  opacity: 0.7;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-button {
  width: 40px;
  height: 30px;
  margin: 0 5px;
  text-align: center;
  background-color: #fff;
  color: #ababab;
  border: none;
  cursor: pointer;
}

.page-button.active {
  background-color: #fff;
  color: #ed234b;
  font-weight: 800;
}

.page-arrow {
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #f26581;
  border: none;
  margin: 10px;
  cursor: pointer;
}

.page-arrow-disabled {
  color: #ababab;
  background-color: #fff;
  border: solid 0.5px #ababab;
  cursor: default;
}

.reason-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.manager-vacation-modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 10px;
}

.manager-vacation-modal-close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.manager-vacation-modal-close-btn:hover,
.manager-vacation-modal-close-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.reason-form-container h2 {
  margin-bottom: 10px;
}

#reasonText {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 5px;
}

.submit-reason-btn {
  background-color: #ED234B;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
