.manager-leave-container {
  width: 90%;
  height: 90%;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 .4rem 3rem -.8rem #0a0a1433;
  border: 1px solid #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
}

.manager-leave-header {
  display: flex;
  justify-content:left;
}

.manager-leave-header h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #222;
  margin-top: 0;
  text-align: left;
}

.manager-leave-search {
  display: flex;
  justify-content: right;
  margin-bottom: 20px;
}

.manager-leave-search #student-name {
  padding-left: 10px;
  border: 1px solid #ABABAB;
  border-radius: 5px;
  width: 300px;
  margin-right: 5px;
}

.manager-leave-search input:focus {
  border-color: #ED234B;
  outline: none;
}

.manager-leave-search #filter-button {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ED234B;
  color: #fff;
  padding: 5px 10px 5px 10px;
}

.manager-leave-search .filter-button:hover {
  opacity: 0.7;
}

.manager-leave-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  table-layout: fixed;
}

.manager-leave-table th,
.manager-leave-table td {
  padding: 12px 8px 8px;
  text-align: center;
  border-bottom: 1px solid #efefef;
  vertical-align: middle;
  height: 50px;
  font-size: 14px;
  line-height: 1.1rem;
  word-break: keep-all;
}

.manager-leave-table th {
  background-color: #f2f2f2;
  font-weight: normal;
  color: #666;
}

.status {
  display: inline-block;
  padding: 8px 12px 6px;
  border-radius: 20px;
}

.manager-leave-container .status-pending {
  background-color: #f2f2f2;
  color: #6e6e6e;
}

.manager-leave-container .status-approved {
  background-color: #D9F7E7;
  color: #30A164;
}

.manager-leave-container .status-rejected {
  background-color: #FEE2E2;
  color: #B91C1C;
}

.manager-leave-actions {
  gap: 5px;
}

.manager-leave-actions .leave-btn {
  padding: 6px 8px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.manager-leave-actions .approve {
  background-color: #28a745;
  color: #fff;
}

.manager-leave-actions .approve:hover {
  opacity: 0.7;
}

.manager-leave-actions .reject {
  background-color: #ff3131;
  color: #fff;
}

.manager-leave-actions .reject:hover {
  opacity: 0.7;
}

.manager-leave-pagination-container {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: 0;
}

.manager-leave-pagination-container button {
  padding: 5px 10px;
  margin: 10px;
  color: #ababab;
  background-color: transparent;
}

.manager-leave-pagination-container .prev-button,
.manager-leave-pagination-container .next-button {
  padding: 6px 10px;
  border: 1px solid #ababab;
  border-radius: 50%;
}

.manager-leave-pagination-container .prev-button.color,
.manager-leave-pagination-container .next-button.color {
  border: none;
  background-color: #f26581;
  color: #fff;
}

.manager-leave-pagination-container .number-btn-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.manager-leave-pagination-container .number-btn-wrapper button {
  display: block;
}

.manager-leave-pagination-container .number-btn-wrapper .btnFocus {
  color: #ed234b;
  font-weight: 800;
  transform: translateY(0);
}

.reason-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.manager-leave-modal-content {
  background-color: #fff;
  padding: 40px;
  width: 35%;
  height: 35%;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.manager-leave-modal-close-btn {
  color: #ababab;
  float: right;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 15px;
  right: 15px;
}

.manager-leave-modal-close-btn:hover,
.manager-leave-modal-close-btn:focus {
  color: #ed234b;
  text-decoration: none;
  cursor: pointer;
}

.reason-form-container h2 {
  font-size: 1.5rem;
  color: #222;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

#reasonText {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

.submit-reason-btn {
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #ED234B;
  color: #fff;
  width: 50%;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 20px;
}

