@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#login-main {
  margin: auto;
}

#login-main #loginForm {
  width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 .4rem 3rem -.8rem #0a0a1433;
  border-radius: 10px;
  background-color: #fff;
}
#loginForm .loginForm-top {
  margin-top: 45px;
  display: flex;
}
#loginForm .loginForm-top img {
  padding: 10px;
  width: 120px;
  height: 44px;
}
#loginForm .loginForm-top div {
  padding-top: 13px;
  font-size: 24px;
}
#loginForm .users-box {
  width: 300px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-top: 30px;
  color: #222;
}
#loginForm .users-box input {
  height: 40px;
  outline: none;
  border: 1px solid #ababab;
  border-radius: 5px;
  padding-left: 10px;
  margin-top: 5px;
}
#loginForm .emailCheck {
  margin: 5px;
  width: 300px;
  font-size: 14px;
}
#loginForm .emailCheck input {
  accent-color: #ed234b;
  cursor: pointer;
}
.pageMove {
  width: 300px;
  margin: 30px 0 20px;
  display: flex;
  justify-content: space-between;
}
.pageMove #pwFind,
.pageMove #signupPage {
  font-size: 14px;
  cursor: pointer;
  color: #ed234b;
  border: none;
  background: transparent;
}
.pageMove #pwFind:hover,
.pageMove #signupPage:hover {
  text-decoration: underline;
}
#loginForm .loginBtn {
  margin-bottom: 40px;
  height: 40px;
  width: 140px;
  background-color: #ed234b;
  border: none;
  border-radius: 5px;
  color: #f2f2f2;
  font-size: 14px;
  cursor: pointer;
}
#loginForm .loginBtn:hover {
  background-color: #ed234bc4;
}
