@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap");
#signup-main {
  margin: 0;
  padding: 0;
  font-family: "Gothic A1", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.wrapper {
  width: 500px;
  height: 800px;
  place-items: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-size: 14px;
}
/* 상단 */
.wrapper .signupTop {
  width: 500px;
  height: 80px;
  margin: 30px 0 0 90px;
}
.logoNtext {
  display: flex;
}
.signupTop img {
  display: block;
  margin: 20px 10px;
  width: 110px;
  height: 23px;
}
.signupTop .signupText1 {
  font-size: 20px;
  margin-top: 24px;
  font-weight: 400;
  color: #222;
}
.signupText2 {
  margin-left: 10px;
  font-size: 16px;
  color: #222;
}
/* 폼 내부 */
#signupForm {
  font-size: 14px;
}
#signupForm .choice input {
  margin: 30px 10px 20px;
  accent-color: #ed234b;
  cursor: pointer;
}
#signupForm .choice #managerCode #code{
  height: 35px;
  width: 100px;
  margin: 0 0 0 30px; 
  border: 1px solid #ababab;
  border-radius: 5px;
  outline: none;
  padding-left: 20px;
}

#signupForm div .name {
  margin: 15px 0 30px;
  height: 40px;
  width: 380px;
  border: 1px solid #ababab;
  border-radius: 5px;
  padding-left: 10px;
  outline: none;
  color: #222;
  padding-left: 25px;
}

#signupForm .newUsersEmail {
  display: flex;
  align-items: center;
}
#signupForm .newUsersEmail input {
  height: 42px;
  padding: 0 25px;
  margin-right: 26px;
  width: 230px;
  outline: none;
  border: 1px solid #ababab;
  border-radius: 5px;
}
#signupForm .newUsersEmail .emailbtn {
  height: 35px;
  width: 100px;

  background-color: #ed234b;
  border: none;
  border-radius: 5px;
  color: #f2f2f2;
  font-size: 12px;
  cursor: pointer;
}
#signupForm .newUsersEmail .emailbtn:hover {
  background-color: #ed234bc4;
}
#signupForm span {
  display: block;
  margin-top: 5px;
  color: #ed234b;
}
#signupForm .newUsersPw {
  display: flex;
  flex-direction: column;
}
#signupForm .newUsersPw input,
#signupForm .newUsersPw2 input {
  height: 42px;
  padding: 0 25px;
  margin-top: 25px;
  outline: none;
  border: 1px solid #ababab;
  border-radius: 5px;
}
#signupForm .newUsersPw2 {
  display: flex;
  flex-direction: column;
}
/* 개인정보 */
#signupForm .consent {
  color: #222;
  display: block;
  margin-top: 25px;
}
#signupForm .consentText {
  width: 400px;
  height: 120px;
  border: 1px solid #ababab;
  padding: 3px;
  border-radius: 5px;
  overflow-y: scroll;
  font-size: 12px;
  margin-bottom: 5px;
}
#signupForm .consentText::-webkit-scrollbar {
  width: 10px;
}
#signupForm .consentText::-webkit-scrollbar-thumb {
  background-color: rgba(99, 98, 98, 0.2);
  overflow: hidden;
  border-radius: 5px;
}
#signupForm .consentCheck {
  color: #222;
}
#signupForm .consentCheck input {
  accent-color: #ed234b;
  cursor: pointer;
}
#signupForm .submitBtnArea {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#signupForm .submitBtnArea .submitBtn {
  height: 45px;
  width: 160px;
  background-color: #ed234b;
  border: none;
  border-radius: 5px;
  color: #f2f2f2;
  cursor: pointer;
  font-size: 14px;
}
#signupForm .submitBtnArea .submitBtn:hover {
  background-color: #ed234bc4;
}
