#notice-section {
  margin: auto 0;
  width: 90%;
  height: 90%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #fff;
}
#notice-section .notice-top {
  height: 12%;
  font-size: 30px;
  font-weight: 800;
  padding: 40px;
}
#notice-section .notice-bottom .post-list {
  align-items: center;
  padding: 0 20px;
  margin: 20px 0;
}
#notice-section .notice-bottom .post-list li {
  list-style-type: none;
}
#notice-section .notice-bottom .post-list li .post-container {
  height: 170px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 10px;
}
#notice-section .notice-bottom .post-list li .post-container .post-number {
  font-size: 15px;
  padding: 15px;
}
#notice-section .notice-bottom .post-list .post {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#notice-section .notice-bottom .post-list .post-top,
#notice-section .notice-bottom .post-list .post-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#notice-section .post div {
  margin: 10px 0;
}
#notice-section .post-title {
  font-size: 18px;
}
.pagination-container {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.pagination-container div {
  margin: 5px;
  color: #ababab;
}
.pagination-container .prev-button,
.pagination-container .next-button {
  padding: 8px 10px 6px;
  border: 1px solid #ababab;
  border-radius: 50%;
}
.pagination-container .prev-button:hover,
.pagination-container .next-button:hover {
  background-color: #f26581;
  color: #fff;
  border: none;
}
.pagination-container .number-btn-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.pagination-container .number-btn-wrapper span {
  display: block;
  margin: 0 15px;
}
