/* src/styles/inquiryBoard.css */
.borad {
  padding: 35px;
  width: 100%;
  height: 100%;
}

.inquiry-board {
  background-color: #fff;
  height: 100%;
  box-shadow: 5px 0 40px #d7d7d7;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #f2f2f2;
}

.inquiry-board h1 {
  padding: 30px;
  font-size: 30px;
  font-weight: 800;
}

.inquiry-board button {
  height: 40px;
  width: 190px;
  margin-right: 30px;
  padding: 10px 20px;
}

.inquiry-board form {
  padding: 100px;
  display: none;
}


/* .inquiry-board label {
  display: block;
  margin-bottom: 5px;
} */

.inquiry-board input, 
.inquiry-board textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  /* border: 1px solid #ed234b; */
}

.inquiry-board input:focus,
.inquiry-board textarea:focus {
  border: 1px solid #ed234b; /* 선택되었을 때의 테두리 색상 */
  outline: none; /* 기본 아웃라인 제거 */
}

.inquiry-board ul {
  list-style: none;
  padding: 0;
}

.inquiry-board li {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.inquiry-board li div {
  width: 10%;
  margin-left: 40px;
}

.inquiry-board li div.title {
  width: 50%; /* 제목란의 너비를 조절 */
}

ul li.inquirylist {
  height: 120px;
  align-items: center;
}

div .pagination {
  display: flex;
  justify-content: center;
  bottom: 0;
}