/* src/styles/inquiryBoard.css */
.borad {
  /* padding: 35px; */
  position: relative;
  width: 90%;
  height: 90%;
  box-shadow: 0 0.4rem 3rem -0.8rem #0a0a1433;
  border-radius: 10px;
  background-color: #fff;
}

.inquiry-board {
  /* background-color: #fff; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  overflow-y: scroll;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 2px solid #f2f2f2; */
}

.inquiry-board h1 {
  padding: 40px;
  font-size: 30px;
  font-weight: 800;
  z-index: 30;
}

.inquiry-board .header-section button {
  height: 40px;
  width: 190px;
  margin-right: 40px;
  padding: 10px 20px;
  background-color: #ed234b;
  border-radius: 5px;
  color: #fff;
}

.inquiry-board .header-section button:hover {
  background-color: #f26581;
}

.inquiry-board form {
  display: none;
  position: absolute;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color: #fff; /* 배경색 설정 */
  overflow-y: scroll;
  z-index: 10; /* 다른 요소 위로 올라오도록 z-index 설정 */
}

.inquiry-board .formlist {
  padding: 0 50px 30px 50px;
}

.inquiry-board .formlist button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  margin-left: 30px;
  color: #fff;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
}

.formlist .submit-button {
  background-color: #ed234b;
}

.formlist .cancel-button {
  background-color: #ababab;
}

.inquiry-board label {
  font-size: 20px;
}

.inquiry-board input, 
.inquiry-board textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 18px;
  border: 1px solid #ababab;
  border-radius: 5px;
}

.inquiry-board input {
  height: 40px;
}
.inquiry-board textarea {
  height: 250px;
}

.inquiry-board input:focus,
.inquiry-board textarea:focus {
  border: 1px solid #ed234b; /* 선택되었을 때의 테두리 색상 */
  border-radius: 5px;
  outline: none; /* 기본 아웃라인 제거 */
}


/* 문의 리스트 */
.inquiry-board li {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.inquiry-board li div {
  width: 10%;
  margin-left: 40px;
}

.inquiry-board li div.title {
  width: 50%; /* 제목란의 너비를 조절 */
}

.inquiry-board li.inquiry-title {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

ul li.inquirylist {
  height: 100px;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

/* 페이지네이션 */
div .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  /* width: 40px; */
}

.page-button {
  width: 40px;
  height: 30px;
  margin: 0 5px;
  text-align: center;
  /* border: 1px solid #ccc; */
  background-color: #fff;
  color: #ababab;
}

.page-button.active {
  color: #ed234b;
  font-weight: 800;
}

.page-arrow {
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #f26581;
  border: none;
  margin: 10px;
}

.page-arrow.disabled {
  color: #fff;
  color: #ababab;
  background-color: #fff;
  border: solid 0.5px #ababab;
}

/* 문의 내용 모달 */

.inquirymodal {
  display: none; 
  position: fixed; /* 화면 고정 */
  z-index: 1; 
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  overflow-y: scroll;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 중앙으로 이동 */
  background-color: #fff;

}

.inquirymodal-content {
  position: absolute;
  background-color: #fff;
  /* width: 100%; */
  /* height: 100%; */
  /* margin: 30px; */
  padding: 40px;
  margin-top: 100px;
  flex-direction: column; /* 세로 방향 정렬 */
  display: flex;
}

.inquirymodal-content button {
  height: 40px;
  width: 80px;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  border: none; /* 기본 테두리 제거 */
  cursor: pointer;
  font-size: 14px;
  /* display: flexbox; */
  justify-content: center;
}

.inquirymodal-content .listbutton button {
  background-color: #ed234b;
}

.inquirymodal-content .deletebutton button {
  background-color: #ababab;
}
