#content {
  transition: all 0.5s;
  background-color: #f2f2f2;
  width: 100%;
}

/* home.css */

.mainhome {
  width: 100%;
  position: relative;
  height: calc(100vh - 116px); /* 부모 요소의 높이를 뷰포트 높이에 맞게 설정 */
  min-width: 800px;
  padding: 35px 35px 0 35px;
  transition: all 0.5s;
}

.sidebar.expanded + #app .calendar {
  margin-left: 190px;
  width: calc(100% - 740px); /* 사이드바 확장 시 크기 조정 */
}
