#studentList {
  width: 90%;
  height: 90%;
  background-color: #fff;
  box-shadow: 0 0.4rem 3rem -0.8rem #0a0a1433;
  border-radius: 10px;
}
#studentList .studentListTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  padding: 0 40px;
  margin: 10px 0;
}
#studentList .studentListTop h1 {
  font-size: 30px;
  font-weight: 800;
}
#studentList .studentListTop input {
  width: 200px;
  height: 35px;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  outline: none;
}
#studentList .studentListTop input:hover {
  box-shadow: 0 0 5px rgba(246, 34, 87, 0.8);
  border: none;
}
#studentList .studentListTop button {
  margin-left: 20px;
  width: 120px;
  height: 33px;
  border: none;
  border-radius: 5px;
  color: #f2f2f2;
  background-color: #ed234b;
}
#studentList .studentListTop button:hover {
  background-color: #ed234bc4;
}

#studentList .studentListBottom {
  height: 85%;
  overflow: hidden;
}
#studentList .studentListBottom .getStudentInfo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 15px 0 50px;
  overflow-y: auto;
}
#studentList .studentListBottom .getStudentInfo li {
  list-style: none;
  box-shadow: 0 0.4rem 1.5rem -0.4rem rgba(10, 10, 20, 0.2);
  border-radius: 10px;
  width: 230px;
  height: 290px;
  position: relative;
  transition: 0.3s;
  margin: 15px;
}
#studentList .studentListBottom .getStudentInfo li:nth-child(n*3) {
  margin-right: 0;
}
#studentList .studentListBottom .getStudentInfo li:hover {
  transform: scale(105%);
}
#studentList .studentListBottom .getStudentInfo li div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  height: 290px;
  border-radius: 10px;
}
#studentList .studentListBottom .getStudentInfo li * {
  margin-bottom: 10px;
  font-size: 14px;
  color: #777;
}
#studentList .studentListBottom .getStudentInfo li div .studentProfileTop {
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#studentList .studentListBottom .getStudentInfo li div .studentProfileTop .userPng {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  transform: translateY(60px);
  margin: 0 auto;
}
#studentList .studentListBottom .getStudentInfo li div .studentInfo {
  height: 50%;
  padding-top: 50px;
}

#studentList .studentListBottom .getStudentInfo li div .studentInfo input {
  display: none;
  position: absolute;
  transform: translate(90px, 55px);
}
#studentList .studentListBottom .getStudentInfo li div .studentInfo label {
  position: absolute;
  transform: translate(90px, 55px);
}
#studentList .studentListBottom .getStudentInfo li div .studentInfo input + label {
  cursor: pointer;
}
#studentList .studentListBottom .getStudentInfo li div .studentInfo input + label:before {
  content: " ";
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: middle;
}
#studentList .studentListBottom .getStudentInfo li div .studentInfo input + .clickArea:before {
  content: " ";
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: middle;
  background-color: #ececec;
}
#studentList .studentListBottom .getStudentInfo li div .studentInfo input:checked + label:before {
  content: " ";
  background-image: url("/public/images/체크표시.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* 수강생 리스트 모달 */
#studentList .studentModal {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  visibility: hidden;
}

#studentList .studentModal.active {
  visibility: visible;
}

#studentList .studentModal .studentModalpage {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 50px 20px 30px;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

#studentList .studentModal .studentModalpage p {
  margin-bottom: 40px;
}

#studentList .studentModal .studentModalpage .yesOrNoBtn {
  display: flex;
}

#studentList .studentModal .studentModalpage .yesOrNoBtn button {
  width: 110px;
  height: 40px;
  border-radius: 5px;
  margin: 0 20px;
  color: #fff;
}

#studentList .studentModal .studentModalpage .yesOrNoBtn #yesBtn {
  background: #ed234b;
}

#studentList .studentModal .studentModalpage .yesOrNoBtn #yesBtn:hover {
  background: #f26581;
}

#studentList .studentModal .studentModalpage .yesOrNoBtn #noBtn {
  background: #ababab;
}

#studentList .studentModal .studentModalpage .yesOrNoBtn #noBtn:hover {
  background: #9f9f9f;
}
