#content {
  /* margin-top: 60px;
  margin-left: 68px; */
  transition: all 0.5s;
  background-color: #f2f2f2;
  width: 100%;
  height: 100%; 
}

/* home.css */

.mainhome {
  width: 100%;
  position: relative;
  height: calc(100vh - 116px);
  /* min-width: 800px; */
  padding: 30px;
  /* transition: all 0.5s; */
  display:flex; 
  justify-content: space-between;
  overflow-y: scroll;
}

#calendar {
  /* position: absolute;
  top: 35px; */
  background: #fff;
  width:60%;
  height: 100%;
  /* width: calc(100% - 550px); */
  /* min-width: 630px; */
  /* transition: all 0.5s; */
}

#attendSection {
  width:39%;
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

/*Tablet*/

@media screen and (max-width: 950px) {
  .mainhome {    
    flex-direction: column-reverse;
  }

  #calendar {
    background: #fff;
    width:100%;
    height: auto;
    margin: 2% 0;
  }
  
  #attendSection {
    width:100%;
    height: auto;
  }
}
