.document_container {
    width: 90%;
    height: 90%;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 .4rem 3rem -.8rem #0a0a1433;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    overflow-y: scroll;
}

.document_container h2 {
    font-size: 2rem;
    color: #222;
    margin-bottom: 20px;
    text-align: center;
}

.document_container label {
    font-weight: 700;
    font-size: 1rem;
    color: #222;
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.document_container input[type="text"],
.document_container input[type="email"],
.document_container input[type="date"],
.document_container select,
.document_container textarea,
.document_container input[type="file"] {
    width: 100%;
    padding: 12px;
    margin: 5px 0 20px;
    border: 1px solid #ABABAB;
    border-radius: 5px;
    box-sizing: border-box;
}

#period-field {
    display: block;
}

.document_container .date-range {
    display: flex;
    align-content: center;
}

.document_container .date-range input[type="date"] {
    width: calc(50% - 10px);
    margin: 0;
}

.document_container .date-range span {
    margin: 0 5px;
    font-size: 1.2rem;
    line-height: 40px;
    text-align: center;
}

.document_container textarea {
    height: auto;
}

.document_container input[type="text"]:focus,
.document_container input[type="email"]:focus,
.document_container input[type="date"]:focus,
.document_container input[type="file"]:focus,
.document_container select:focus,
.document_container textarea:focus {
    border-color: #ED234B;
    outline: none;
}

.document_container button {
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #ED234B;
    color: #fff;
    width: 50%;
    text-align: center;
    display: block;
    margin: 20px auto 0;
}

.document_container button:hover {
    opacity: 0.7;
}

#follow-up-message {
    margin-top: 20px;
    text-align: center;
}
