#weekCalendar {
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:20px 0;
}

#weekCalendar .today {
  padding-left: 30px;
    font-weight: bold;
    padding-top: 10px;
    color: #222;
}

#weekCalendar table {
  width: 100%;
}

#weekCalendar tr th {
  padding-bottom: 10px;
  color:#ababab;
  font-weight:700;
}

#weekCalendar tr th.todayDate {
  color: #ED234B
}

#weekCalendar tr td {
  text-align: center;
  color:#ababab;
}

#weekCalendar tr td.todayDate {
  position: relative;
  color: #fff;
  z-index: 1;
}

#weekCalendar tr td.todayDate::before {
  content:"";
  position:absolute;
  width: 26px;
  height:26px;
  border-radius: 50%;
  background: #ED234B;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  z-index: -1;
}

@media screen and (max-width: 600px) {
  #weekCalendar .today {
    padding-bottom:30px;
  }
  #weekCalendar tr th {
    font-size: 14px;
  }
}