#attendance-Check {
  position: absolute;
  bottom: 35px;
  right: 35px;
  background-color: #fff; 
  height: calc(50% - 52px); /* 부모 요소의 높이를 기준으로 조정 */
  min-width: 445px;
}

#attendance-Check h4 {
  font-weight: 500; 
  padding: 20px 30px;
  border-bottom: 1px solid #EBEFF2; 
}

#attendance-Check #attendance-chart {
  margin:0 auto;
}