.gallery_container {
  width: 90%;
  height: 90%;
  padding: 40px 40px 0 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0.4rem 3rem -0.8rem #0a0a1433;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  position: relative;
}

.gallery_container h2 {
  font-size: 30px;
  font-weight: 800;
}

.gallery_container .gallery_header {
  display: flex;
  justify-content: space-between;
}


.gallery_container .pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery_container .sort-options {
  justify-content: flex-end;
  height: 50px;
  margin-bottom: 10px;
}

.gallery_container .sort-options select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ababab;
  font-size: 1rem;
}

.gallery_container .sort-options select:focus {
  outline: none;
  border: 2px solid #ed234b;
}

.gallery_container .card-grid {
  /* margin-top: 100px; */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  /* position: relative;
  top: 0px; */
}

.gallery_container .card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0.4rem 3rem -0.8rem #0a0a1433;
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
  width: calc(23% - 20px);
  flex-grow: 1; /* 카드 요소가 컨테이너의 남은 공간을 차지하도록 설정 */
  position: relative;
  display: flex;
  flex-direction: column;
}

.gallery_container .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0.8rem 4rem -0.8rem #0a0a1466;
}

.gallery_container .card img {
  width: 60%;
  height: auto; /* 이미지의 비율을 유지합니다 */
  border-radius: 5px;
  margin-bottom: 20px;
  object-fit: cover; /* 이미지가 부모 요소를 채우면서 비율을 유지합니다 */
  align-self: center; /* 가로 가운데 정렬 */
}

.gallery_container .card h3,
.gallery_container .card p {
  font-size: 1rem;
  color: #5e5e5e;
  /* margin: 0 0 10px; */
}

.gallery_container .card-footer {
  justify-content: flex-end;
  margin-top: 20px;
}

.gallery_container .card-footer .date {
  font-size: 0.9rem;
  color: #ed234b;
}

.gallery_container .pagination {
  justify-content: center;
  margin: 20px 0;
}

@media screen and (max-width: 600px) {
  .gallery_container .card {
    width: 40%;
  }
}