/* src/styles/inquiryBoard.css */
.borad {
  /* padding: 35px; */
  position: relative;
  width: 90%;
  height: 90%;
  box-shadow: 0 0.4rem 3rem -0.8rem #0a0a1433;
  border-radius: 10px;
  background-color: #fff;
}

.inquiry-board {
  /* background-color: #fff; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  overflow-y: auto;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 2px solid #f2f2f2; */
}

.inquiry-board .header-section h1 {
  padding: 40px;
  font-size: 30px;
  font-weight: 800;
  /* z-index: 30; */
}

.inquiry-board .header-section button {
  height: 40px;
  width: 190px;
  margin-right: 40px;
  padding: 10px 20px;
  background-color: #ed234b;
  border-radius: 5px;
  color: #fff;
}

/* 글쓰기 폼 */
.inquiry-board form {
  display: none;
  position: absolute;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color: #fff; /* 배경색 설정 */
  overflow-y: auto;
  z-index: 10; /* 다른 요소 위로 올라오도록 z-index 설정 */
}

.inquiry-board .formlist {
  padding: 40px 40px 30px 40px;
}

.inquiry-board .formlist button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  margin-left: 30px;
  color: #fff;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
}

.inquiry-board label {
  font-size: 20px;
  color: #5e5e5e;
  display: flex;
  align-items: center;
  gap: 10px;
}

.inquiry-board input#title, 
.inquiry-board textarea,
.inquirymodal-content input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 18px;
  border: 1px solid #ababab;
  border-radius: 5px;
}

.inquiry-board textarea {
  height: 250px;
}

.inquiry-board input#title:focus,
.inquiry-board textarea:focus,
.inquirymodal-content input:focus,
.secret-modal-content #secret-input:focus,
.password-modal-content #password-input:focus {
  border: 1px solid #ed234b; /* 선택되었을 때의 테두리 색상 */
  border-radius: 5px;
  outline: none; /* 기본 아웃라인 제거 */
}

.secret-content input#secret-yes,
.secret-content input#secret-no {
  margin-left: 20px;
}

.secret-content input#password-input-form {
  width: 150px;
  height: 30px;
  font-size: 14px;
  padding-left: 5px;
}

.secret-content input#password-input-form:focus {
  border: 1px solid #ed234b; /* 선택되었을 때의 테두리 색상 */
  border-radius: 2px;
  outline: none; /* 기본 아웃라인 제거 */
  padding-left: 6px;
}

/* 문의 리스트 */
.inquiry-board li {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.inquiry-board li div {
  width: 10%;
}

.inquiry-board li div.title {
  width: 40%; /* 제목란의 너비를 조절 */
  display: flex;
  align-items: center;
}

.inquiry-board li.inquiry-title {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-left: 40px;
  margin-right: 40px;
}

ul li.inquirylist {
  height: 100px;
  align-items: center;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  margin-left: 40px;
  margin-right: 40px;
}

ul li.inquirylist .secret-icon,
.secret-content .secret-icon {
  color: #ababab;
  padding-left: 10px;
  width: 25px;
}

.comment-count,
.formlist .secret-content {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  color: #5e5e5e;
  gap: 5px;
}

.comment-count .img {
  width: 20px;
  margin-left: 40px;
}

.inquirylist .profile-image {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 15px;
}

.inquirylist .userprofile {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* 페이지네이션 */
div .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  /* width: 40px; */
}

.page-button {
  width: 40px;
  height: 30px;
  margin: 0 5px;
  text-align: center;
  /* border: 1px solid #ccc; */
  background-color: #fff;
  color: #ababab;
}

.page-button.active {
  color: #ed234b;
  font-weight: 800;
}

.page-arrow {
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #f26581;
  border: none;
  margin: 10px;
}

.page-arrow.disabled {
  color: #fff;
  color: #ababab;
  background-color: #fff;
  border: solid 0.5px #ababab;
  cursor: auto;
}

/* 문의 내용 모달 */

.inquirymodal {
  display: none; 
  position: fixed; /* 화면 고정 */
  z-index: 1; 
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  overflow-y: auto;
  transform: translate(-50%, -50%); /* 중앙으로 이동 */
  background-color: #fff;
  position: absolute;
}

.inquirymodal-content {
  background-color: #fff;
  padding: 40px;
  /* margin-top: 80px; */
}

.inquirymodal-content h1,
.inquiry-board .formlist h1 {
  /* padding: 40px; */
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 40px;
  z-index: 3;
}

#inquirymodal-body {
  height: 300px;
}

#inquirymodal-body h2 {
  font-size: 30px;
}

#inquirymodal-body .inquiry-details {
  display: flex;
  justify-content: flex-start; /* 왼쪽 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  gap: 30px; /* 요소 간의 간격 */
  margin-top: 20px;
}

#inquirymodal-body .inquiry-details .inquiry-name {
  font-size: 18px;
  color: #5e5e5e;
  display: flex;
  align-items: center;
  gap: 10px;
}

#inquirymodal-body .inquiry-details .inquiry-name .profile-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 20px;
}

#inquirymodal-body .inquiry-details .inquiry-date {
  font-size: 16px;
  color: #ababab;
}

#inquirymodal-body .inquiry-message {
  margin-top: 30px;
  border-top: 0.5px solid #ababab;
  padding-top: 30px;
}

/* 문의 내용 모달 버튼*/
.modal-buttons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center; /* 세로 중앙 정렬 */
  margin-top: 20px;
  position: relative;
}

.listbutton {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.deletebutton {
  display: flex;
  gap: 10px;
}

.listbutton button, 
.deletebutton button {
  height: 40px;
  width: 80px; /* 버튼 너비 */
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  border: none; /* 기본 테두리 제거 */
  cursor: pointer;
  font-size: 14px; /* 글자 크기 */
}

/* 버튼 색상과 호버시 색상 */
.listbutton button,
#submit-modify-button.submit-button,
.formlist .submit-button {
  background-color: #ed234b;
}

.listbutton button:hover,
.formlist .submit-button:hover,
#submit-modify-button.submit-button:hover,
.inquiry-board .header-section button:hover,
.secret-modal-content #confirm-secret-button:hover {
  background-color: #f26581;
}

.deletebutton button,
#cancel-modify-button.cancel-button,
.formlist .cancel-button {
  background-color: #ababab;
}

.deletebutton button:hover,
.formlist .cancel-button:hover,
#cancel-modify-button.cancel-button:hover {
  background: #9f9f9f;
}

/* comment 댓글  */
.comment-header {
  align-items: center;
  /* justify-content: center; */
  font-size: 15px;
  font-weight: 400;
  color: #5e5e5e;
  padding-bottom: 15px;
  border-bottom:  0.5px solid #ababab;
  display: flex;
  align-items: center;
}

.comment-header .img {
  width: 25px;
  margin-right: 10px;
}

.comments-section {
  margin-left: 30px;
  margin-right: 30px;
}

.comments-section .comment-list {
  margin-top: 0px;
  display: flex;
}

.comments-section .comment-detail {
  width: 100%;
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.comments-section .comment-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ccc; /* 예시용 배경색 */
  margin-right: 10px;
}

.comments-section .comment-name {
  font-size: 18px;
  color: #5e5e5e; /* 색상 수정 */
  font-weight: 600px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.comments-section .comment-name .manager-profile {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 20px;
}

.comments-section .comment-date {
  color: #ababab;
  margin-top: 12px;
}

.comments-section .comment-message {
  margin-top: 30px;
}

.comments-section p {
 color: #ababab;
 margin-top: 40px;
 text-align: center; /* 텍스트를 가운데 정렬 */
 border-top:  0.5px solid #ababab;
 padding-top: 30px;
}

/* 수정삭제 모달, 비밀번호 창 모달 */
.password-modal ,
.secret-modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}

.password-modal-content ,
.secret-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  width: 350px; 
  height: 200px;
  border-radius: 20px;
  text-align: center;
}

.password-modal-content p ,
.secret-modal-content p {
  margin-top: 40px;
  font-size: 20px;
}
.password-modal-content #password-input ,
.secret-modal-content #secret-input {
  margin-top: 30px;
  width: 200px;
  height: 30px;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ababab;
  border-radius: 5px;
}

.password-modal-content #confirm-password-button ,
.secret-modal-content #confirm-secret-button {
  background-color: #ed234b;
  color: #fff;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  margin-left: 10px;
}
.close-password-modal ,
.close-secret-modal {
  /* color: #aaa; */
  float: right;
  font-size: 28px;
  font-weight: bold;
  color: #ed234b;
}

.close-password-modal:hover,
.close-password-modal:focus ,
.close-secret-modal:hover,
.close-secret-modal:focus {
  color: #f26581;
  text-decoration: none;
  cursor: pointer;
}

/* 게시물 수정 폼*/
.form-buttons button{
  height: 40px;
  width: 80px;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
  margin-left: 20px;
}

/* 로딩페이지 */
.loading-container {
  top: 0;
  left: 0;
}
