@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

.attendance_correction_request-container {
  width: 90%;
  height: 90%;
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 .4rem 3rem -.8rem #0a0a1433;
  border: 1px solid #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.attendance_correction_request-icon {
  width: 80px;
  height: 80px;
  vertical-align: middle;
  margin-left: 30px;
  margin-right: 40px;
}

.attendance_correction_request-container h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #222;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: left;
}

.attendance_correction_request-both-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.attendance_correction_request-process-container {
  flex: 2;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #f2f2f2;
  margin-right: 20px;
}

.attendance_correction_request-process-container h2 {
  font-size: 1.5rem;
  color: #222;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.attendance_correction_request-process-list {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

.attendance_correction_request-process-list h3 {
  color: #222;
  border-bottom: 2px solid #d6d6d6;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 15px;
  margin-top: 20px;
  padding-bottom: 5px;
}

.download-link-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0;
  margin-top: 20px;
}

.attendance_correction_request-process-list a {
  color: rgb(20, 93, 251);
  text-decoration: none;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.attendance_correction_request-process-list a:hover {
  text-decoration: underline;
}

.attendance_correction_request-process-list .material-symbols-outlined {
  color: rgb(20, 93, 251);
  margin-right: 8px;
  vertical-align: middle;
  margin-bottom: 13px;
}

.attendance_correction_request-process-list .ex {
  color: #ed234b;
  font-weight: 500;
}

.attendance_correction_request-process-list p {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.attendance_correction_request-status-container {
  flex: 3;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.attendance_correction_request-status-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.red-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ed234b;
  border-radius: 50%;
  margin-right: 20px;
  vertical-align: middle;
  opacity: 0.7;
}

.attendance_correction_request-status-header span {
  font-size: 1.5rem;
  color: #222;
  font-weight: 500;
  position: static;
  transform: none;
  margin-left: 10px;
}

.attendance_correction_request-status-date-range {
  position: static;
  right: auto;
  top: auto;
}

.attendance_correction_request-status-date-range .date-input {
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  padding: 5px;
  margin: 0 5px;
}

.attendance_correction_request-status-date-range .date-input:focus {
  border-color: #ED234B;
  outline: none;
}

.status-table-container {
  flex-grow: 1;
  overflow-y: auto;
  min-height: 300px;
}

.attendance_correction_request-container .status-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.attendance_correction_request-container .status-table th,
.attendance_correction_request-container .status-table td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #efefef;
  height: 50px;
  overflow: hidden;
  white-space: nowrap;
}

.attendance_correction_request-container .status-table th {
  border-top: 1px solid #efefef;
  font-size: 14px;
  font-weight: normal;
  color: #666;
  vertical-align: middle;
  background-color: #f2f2f2;
}

.attendance_correction_request-container .status-pending,
.attendance_correction_request-container .status-approved,
.attendance_correction_request-container .status-rejected,
.attendance_correction_request-container .cancel-button {
  display: inline-block;
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 14px;
}

.attendance_correction_request-container .status-pending {
  background-color: #bababa;
  color: #fff;
}

.attendance_correction_request-container .status-approved {
  background-color: #D9F7E7;
  color: #30A164;
}

.attendance_correction_request-container .status-rejected {
  background-color: #FEE2E2;
  color: #B91C1C;
}

.attendance_correction_request-container .cancel-button {
  background-color: #ed234b;
  color: #fff;
  cursor: pointer;
  opacity: 0.7;
}

.attendance_correction_request-container .cancel-button:hover {
  opacity: 0.5;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  min-height: 40px;
}

.page-button {
  width: 40px;
  height: 30px;
  margin: 0 5px;
  text-align: center;
  background-color: #fff;
  color: #ababab;
  border: none;
  cursor: pointer;
}

.page-button-active {
  color: #ed234b;
  font-weight: 800;
}

.page-arrow {
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #f26581;
  border: none;
  margin: 10px;
  cursor: pointer;
}

.page-arrow-disabled {
  color: #ababab;
  background-color: #fff;
  border: solid 0.5px #ababab;
  cursor: default;
}

.attendance_correction_request-modal-btn-container {
  margin-top: 0;
}

.attendance_correction_request-modal-btn {
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #ED234B;
  color: #fff;
  width: 50%;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 40px;
}

.attendance_correction_request-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.attendance_correction_request-modal-content {
  background-color: #fff;
  padding: 40px;
  width: 35%;
  height: 60%;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.attendance_correction_request-modal-close-btn {
  color: #ababab;
  float: right;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 15px;
  right: 15px;
}

.attendance_correction_request-modal-close-btn:hover,
.attendance_correction_request-modal-close-btn:focus {
  color: #ed234b;
  text-decoration: none;
  cursor: pointer;
}

.attendance_correction_request-form-container h2 {
  font-size: 1.5rem;
  color: #222;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.attendance_correction_request-submit-section input[type="date"],
.attendance_correction_request-reason textarea {
  width: 100%;
  padding: 10px;
  margin: auto;
  border: 1px solid #ABABAB;
  border-radius: 5px;
  box-sizing: border-box;
}

.attendance_correction_request-submit-section input[type="date"]:focus,
.attendance_correction_request-reason textarea:focus {
  border-color: #ED234B;
  outline: none;
}

.attendance_correction_request-submit-section label {
  font-weight: 500;
  font-size: 1rem;
  color: #222;
  display: block;
  margin: 20px 0 10px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 10px;
}

.attendance_correction_request-btn {
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #ED234B;
  color: #fff;
  width: 50%;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 40px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #d6d6d6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ed234b;
  border-radius: 10px;
}
