.document-container {
  width: 90%;
  height: 90%;
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 .4rem 3rem -.8rem #0a0a1433;
  border: 1px solid #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
}

.document-icon {
  width: 80px;
  height: 80px;
  vertical-align: middle;
  margin-left: 30px;
  margin-right: 40px;
}

.document-container h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #222;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: left;
}

.document-both-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.document-process-container {
  flex: 2;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #f2f2f2;
  margin-right: 20px;
  height: 500px;
  overflow-y: auto;
}

.document-process-container h2 {
  font-size: 1.5rem;
  color: #222;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.document-process-list {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

.document-process-list h3 {
  color: #222;
  border-bottom: 2px solid #d6d6d6;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 15px;
  margin-top: 20px;
  padding-bottom: 5px;
}

.document-process-list p {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.document-status-container {
  flex: 3;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.document-status-container .document-status-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.document-status-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.red-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ed234b;
  border-radius: 50%;
  margin-right: 20px;
  vertical-align: middle;
  opacity: 0.7;
}

.document-status-header span {
  font-size: 1.5rem;
  color: #222;
  font-weight: 500;
  position: static;
  transform: none;
  margin-left: 10px;
}

.status-table-container {
  flex-grow: 1;
  overflow-y: auto;
  min-height: 300px;
}

.document-container .status-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.document-container .status-table th,
.document-container .status-table td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #efefef;
  height: 50px;
  overflow: hidden;
  white-space: nowrap;
}

.document-container .status-table th {
  border-top: 1px solid #efefef;
  font-size: 14px;
  font-weight: normal;
  color: #666;
  vertical-align: middle;
  background-color: #f2f2f2;
}

.document-container .status-pending,
.document-container .status-approved,
.document-container .status-rejected,
.document-container .status-document_submitted,
.document-container .status-completed,
.document-container .cancel-button {
  display: inline-block;
  padding: 8px 12px 6px;
  border-radius: 20px;
  font-size: 14px;
}

.document-container .status-pending {
  background-color: #f2f2f2;
  color: #6e6e6e;
}

.document-container .status-approved {
  background-color: #f2f2f2;
  color: #6e6e6e;
}

.document-container .status-rejected {
  background-color: #FEE2E2;
  color: #B91C1C;
}
.document-container .status-document_submitted {
  background-color: #f2f2f2;
  color: #6e6e6e;
}

.document-container .status-completed {
  background-color: #D9F7E7;
  color: #30A164;
}

.document-container .cancel-button {
  background-color: #ed234b;
  color: #fff;
  cursor: pointer;
  opacity: 0.7;
}

.download-btn, 
.submit-btn {
  padding: 6px 8px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  gap: 10px;
}

.download-btn {
  background-color: rgba(35, 131, 226);
  color: #fff;
}

.submit-btn {
  background-color: #ed234b;
  color: #fff;
}

.document-container .cancel-button:hover {
  opacity: 0.5;
}

.document-modal-btn-container {
  margin-top: 20px;
}

.document-modal-btn {
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #ED234B;
  color: #fff;
  width: 50%;
  text-align: center;
  display: block;
  margin: auto;
}

.document-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.document-modal .document-modal-content {
  background-color: #fff;
  padding: 40px;
  width: 35%;
  height: 70%;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
}

.document-modal-close-btn {
  color: #ababab;
  float: right;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 15px;
  right: 15px;
}

.document-modal-close-btn:hover,
.document-modal-close-btn:focus {
  color: #ed234b;
  text-decoration: none;
  cursor: pointer;
}

.document-form-container h2 {
  font-size: 1.5rem;
  color: #222;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.document-submit-all-section input[type="text"],
.document-submit-all-section input[type="email"],
.document-submit-all-section input[type="date"],
.document-submit-all-section select,
.document-submit-all-section textarea {
  width: 100%;
  padding: 10px;
  margin: auto;
  border: 1px solid #ABABAB;
  border-radius: 5px;
}

.document-submit-all-section input[type="text"]:focus,
.document-submit-all-section input[type="email"]:focus,
.document-submit-all-section input[type="date"]:focus,
.document-submit-all-section select:focus,
.document-submit-all-section textarea:focus {
  border-color: #ED234B;
  outline: none;
}

.document-submit-all-section label {
  font-weight: 500;
  font-size: 1rem;
  color: #222;
  display: block;
  margin: 20px 0 10px;
  text-align: left;
}

.document-btn {
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #ED234B;
  color: #fff;
  width: 50%;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 40px;
}

.date-range {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date-range input[type="date"] {
  width: 100%;
}

#start-date {
  margin-right: 5px;
}

#end-date {
  margin-left: 5px;
}

#other-document-fields {
  margin-top: 20px;
}

#submitModal {

}

.document-container .document-both-container .document-status-container .document-status-content .document-pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
}

.document-container .document-pagination-container button {
  padding: 5px 10px;
  margin: 10px;
  color: #ababab;
  background-color: transparent;
}

.document-container .document-pagination-container .prev-button,
.document-container .document-pagination-container .next-button {
  padding: 6px 10px;
  border: 1px solid #ababab;
  border-radius: 50%;
}

.document-container .document-pagination-container .prev-button.color,
.document-container .document-pagination-container .next-button.color {
  border: none;
  background-color: #f26581;
  color: #fff;
}

.document-container .document-pagination-container .number-btn-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.document-container .document-pagination-container .number-btn-wrapper button {
  display: block;
}

.document-container .document-pagination-container .number-btn-wrapper .btnFocus {
  color: #ed234b;
  font-weight: 800;
}

#resubmitModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.resubmit-modal-content {
  background-color: #fff;
  padding: 40px;
  width: 35%;
  height: 35%;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.resubmit-modal-close-btn {
  color: #ababab;
  float: right;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 15px;
  right: 15px;
}

.resubmit-modal-close-btn:hover,
.resubmit-modal-close-btn:focus {
  color: #ed234b;
  text-decoration: none;
  cursor: pointer;
}

.resubmit-form-container h2 {
  font-size: 1.5rem;
  color: #222;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.resubmit-form-container input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ABABAB;
  border-radius: 5px;
  margin-bottom: 20px;
}

.resubmit-form-container input[type="file"]:focus {
  border-color: #ED234B;
  outline: none;
}

.resubmit-btn {
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #ED234B;
  color: #fff;
  width: 50%;
  text-align: center;
  display: block;
  margin: auto;
}

.resubmit-btn:hover {
  opacity: 0.7;
}