.offical_leave_request_container {
  width: 60%;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0.4rem 3rem -0.8rem #0a0a1433;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.offical_leave_request_container h2 {
  font-size: 2rem;
  color: #222;
  margin-bottom: 20px;
  text-align: center;
}

.offical_leave_request_container label {
  font-weight: 700;
  font-size: 1rem;
  color: #222;
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

.offical_leave_request_container input[type="date"],
.offical_leave_request_container textarea {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ababab;
  border-radius: 5px;
  box-sizing: border-box;
}

.offical_leave_request_container textarea {
  height: 100px;
}

.offical_leave_request_container input[type="date"]:focus,
.offical_leave_request_container textarea:focus {
  border-color: #ed234b;
  outline: none;
}

.offical_leave_request_container button {
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #ed234b;
  color: #fff;
  width: 50%;
  text-align: center;
  display: block;
  margin: auto;
}

.offical_leave_request_container button:hover {
  opacity: 0.7;
}
