@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

.official-leave-container {
  width: 90%;
  height: 90%;
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 .4rem 3rem -.8rem #0a0a1433;
  border: 1px solid #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
}

.official-leave-icon {
  width: 80px;
  height: 80px;
  vertical-align: middle;
  margin-left: 30px;
  margin-right: 40px;
}

.official-leave-container h1 {
  font-size: 2rem;
  color: #222;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: left;
}

.official-leave-both-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.official-leave-process-container {
  flex: 2;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #f2f2f2;
  margin-right: 20px;
  height: 500px;
  overflow-y: scroll;
}

.official-leave-process-list {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

.official-leave-process-list h3 {
  color: #222;
  border-bottom: 2px solid #d6d6d6;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 15px;
  margin-top: 20px;
  padding-bottom: 5px;
}

.official-link {
  color: rgb(20, 93, 251);
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-decoration: underline;
}

.official-leave-container .official-leave-both-container .official-leave-process-container .official-leave-process-list .download-link-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0;
  margin-top: 20px;
}

.official-leave-container .official-leave-both-container .official-leave-process-container .official-leave-process-list .download-link-container a {
  color: rgb(20, 93, 251);
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.official-leave-container .official-leave-both-container .official-leave-process-container .official-leave-process-list .download-link-container a:hover {
  text-decoration: underline;
}

.official-leave-container .official-leave-both-container .official-leave-process-container .official-leave-process-list .download-link-container .material-symbols-outlined {
  color: rgb(20, 93, 251);
  margin-right: 8px;
  vertical-align: middle;
  margin-bottom: 13px;
}

.official-leave-process-list p {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.official-leave-container .official-leave-both-container .official-leave-process-container .official-leave-process-list .ex {
  color: #ed234b;
  font-weight: 500;
}

.official-leave-status-container {
  flex: 3;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.official-leave-status-container .official-leave-status-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.official-leave-status-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.red-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ed234b;
  border-radius: 50%;
  margin-right: 20px;
  vertical-align: middle;
  opacity: 0.7;
}

.official-leave-status-header span {
  font-size: 1.5rem;
  color: #222;
  position: static;
  transform: none;
  margin-left: 10px;
  font-weight: 500;
}

.status-table-container {
  flex-grow: 1;
  overflow-y: auto;
  min-height: 300px;
}

.official-leave-status-container .status-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.official-leave-status-container .status-table th,
.official-leave-status-container .status-table td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #efefef;
  height: 50px;
  overflow: hidden;
  white-space: nowrap;
}

.official-leave-status-container .status-table th {
  border-top: 1px solid #efefef;
  font-size: 14px;
  font-weight: normal;
  color: #666;
  vertical-align: middle;
  background-color: #f2f2f2;
}

.official-leave-container .status-pending,
.official-leave-container .status-finalPending {
  background-color: #f2f2f2;
  color: #6e6e6e;
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 14px;
  display: inline-block;
}

.official-leave-container .status-approved,
.official-leave-container .status-finalApproved,
.official-leave-container .status-completed {
  background-color: #D9F7E7;
  color: #30A164;
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 14px;
  display: inline-block;
}

.official-leave-container .status-rejected {
  background-color: #FEE2E2;
  color: #B91C1C;
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 14px;
  display: inline-block;
}

.submit-document-btn {
  background-color: #ed234b;
  color: #fff;
  cursor: pointer;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.submit-document-btn:hover {
  opacity: 0.7;
}

.official-leave-status-container .cancel-btn {
  background-color: #ed234b;
  color: #fff;
  cursor: pointer;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.official-leave-status-container .cancel-btn:hover {
  opacity: 0.5;
}

.official-leave-container .official-leave-both-container .official-leave-status-container .official-leave-status-content .official-leave-pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
}

.official-leave-container .official-leave-pagination-container button {
  padding: 10px;
  margin: 5px;
  color: #ababab;
  background-color: transparent;
}

.official-leave-container .official-leave-pagination-container .prev-button,
.official-leave-container .official-leave-pagination-container .next-button {
  padding: 6px 10px;
  border: 1px solid #ababab;
  border-radius: 50%;
}

.official-leave-container .official-leave-pagination-container .prev-button.color,
.official-leave-container .official-leave-pagination-container .next-button.color {
  border: none;
  background-color: #f26581;
  color: #fff;
}

.official-leave-container .official-leave-pagination-container .number-btn-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.official-leave-container .official-leave-pagination-container .number-btn-wrapper button {
  display: block;
}

.official-leave-container .official-leave-pagination-container .number-btn-wrapper .btnFocus {
  color: #ed234b;
  font-weight: 800;
}

.official-leave-container .official-leave-modal-btn-container {
  margin-top: 20px;
}

.official-leave-modal-btn {
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #ED234B;
  color: #fff;
  width: 50%;
  text-align: center;
  display: block;
  margin: auto;
}

.official-leave-modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0; 
  top: 0; 
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.official-leave-modal-content {
  background-color: #fff;
  padding: 40px;
  width: 35%;
  height: 60%;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y:auto;
}

.official-leave-modal-close-btn {
  color: #ababab;
  float: right;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 15px;
  right: 15px;
}

.official-leave-modal-close-btn:hover,
.official-leave-modal-close-btn:focus {
  color: #ed234b;
  text-decoration: none;
  cursor: pointer;
}

.official-leave-form-container h2 {
  font-size: 1.5rem;
  color: #222;
  font-weight: 500;
  text-align: center;
  margin-bottom: 40px;
}

.official-leave-all-section {
  margin-bottom: 15px;
}

.official-leave-all-section label {
  font-weight: 500;
  font-size: 1rem;
  color: #222;
  display: block;
  margin: 20px 0 10px;
  text-align: left;
}

.official-leave-all-section input[type="date"],
.official-leave-all-section textarea {
  width: 100%;
  padding: 10px;
  margin: auto;
  border: 1px solid #ABABAB;
  border-radius: 5px;
}

.official-leave-all-section input[type="date"]:focus,
.official-leave-all-section textarea:focus {
  border-color: #ED234B;
  outline: none;
}

#officialLeaveForm .official-leave-btn {
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #ED234B;
  color: #fff;
  width: 50%;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 40px;
}

.convert-press-container input[type="file"],
.zip-container input[type="file"],
.document-submit-all-section input[type="file"] {
  width: 100%;
  padding: 10px;
  margin: auto;
  border: 1px solid #ABABAB;
  border-radius: 5px;
}

.official-leave-all-section input[type="date"]:focus,
.official-leave-all-section textarea:focus,
.convert-press-container input[type="file"]:focus,
.zip-container input[type="file"]:focus,
.document-submit-all-section input[type="file"]:focus {
  border-color: #ED234B;
  outline: none;
}

.official-leave-modal-content label {
  font-size: 1rem;
  color: #222;
  display: block;
  margin: 20px 0 10px;
  text-align: left;
}

#documentSubmitForm label {
  font-size: 1rem;
  color: #222;
  display: block;
  margin: 20px 0 10px;
  text-align: left;
}

.official-leave-form-container .convert-press-container .official-leave-pdf-container,
.official-leave-form-container .convert-press-container .official-leave-zip-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#fileInput,
#wordFile {
  flex: 1;
  width: 70%;
  margin-right: 10px;
  margin-bottom: 10px;
}

#fileInput:focus,
#wordFile:focus {
  border-color: #ED234B;
  outline: none;
}

.convertpdf,
.createzip {
  margin-right: 0;
  color: #fff;
  background-color: #ed234b;
  width: 20%;
  height: 35px;
  border-radius: 10px;
  border: 1px solid #ed234b;
  margin-bottom: 10px;
  padding: 2px 8px 4px;
}

.convertpdf:hover,
.createzip:hover {
  opacity: 0.7;
}

#documentSubmitForm label {
  font-size: 1rem;
  color: #222;
  display: block;
  margin: 20px 0 10px;
  text-align: left;
}

#documentSubmitForm .document-submit-btn {
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #ED234B;
  color: #fff;
  width: 50%;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 40px;
}

#documentSubmitForm .document-submit-btn:hover {
  opacity: 0.7;
}
