.vacation_request_container {
  width: 50%;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0.4rem 3rem -0.8rem #0a0a1433;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vacation_request_container h2 {
  font-size: 2rem;
  color: #222;
  margin-bottom: 20px;
  text-align: center;
}

.vacation_request_container .downloads {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.vacation_request_container .download-link {
  display: block;
  color: #ed234b;
  text-decoration: none;
}

.vacation_request_container .file-subsection {
  margin-bottom: 20px;
}

.vacation_request_container .file-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

#convert_to_pdf,
#compress_to_zip {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ababab;
  border-radius: 5px;
  box-sizing: border-box;
}

.vacation_request_container .file-action-btn {
  width: 100px;
  padding: 10px;
  background-color: #ed234b;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.vacation_request_container .file-action-btn:hover {
  opacity: 0.7;
}

#all_file {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ababab;
  border-radius: 5px;
  box-sizing: border-box;
}

.vacation_request_container button {
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #ed234b;
  color: #fff;
  width: 50%;
  text-align: center;
  display: block;
  margin: auto;
}

.vacation_request_container button:hover {
  opacity: 0.7;
}
