#profile-section {
  margin: auto 0;
  width: 1000px;
  height: 700px;
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #fff;
}
#profile-section .profileArea {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
#profile-section .profileArea .profile-top {
  width: 100%;
  height: 100%;
  min-height: 300px;
  max-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
}

#profile-section .profileArea .user-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  transform: translateY(150px);
  border: 5px solid #f2f2f2;
}
.profile-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 80px;
}
.profile-bottom * {
  margin: 5px;
}
.profile-bottom div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.profile-bottom div:nth-last-child(2) {
  height: 80px;
}
.profile-bottom div:nth-last-child(2):hover,
.profile-bottom div:nth-last-child(3):hover {
  box-shadow: 0 0 5px rgba(246, 34, 87, 0.8);
}
.profile-bottom div span {
  color: #ababab;
  font-size: 28px;
}
.profile-bottom div input,
.profile-bottom div textarea {
  width: 300px;
  height: 25px;
  padding: 0 10px;
  border: none;
  border-radius: 7px;
  outline: none;
  font-size: 18px;
}
.profile-bottom div textarea {
  resize: none;
  border: none;
  height: 70px;
}

.profile-bottom div #userIntro::-webkit-scrollbar {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.profile-bottom button {
  margin: 25px 0;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: #f2f2f2;
  background-color: #ed234b;
}
.profile-bottom button:hover {
  background-color: #ed234bc4;
}
