/* 프로필 페이지 */
#profile-section {
  width: 90%;
  height: 90%;
  position: relative;
  box-shadow: 0 0.4rem 3rem -0.8rem #0a0a1433;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
}
#profile-section .profileArea {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
#profile-section .profileArea .profile-top {
  width: 100%;
  height: 90%;
  min-height: 300px;
  max-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
}

#profile-section .profileArea .user-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  transform: translateY(150px);
  border: 5px solid #f2f2f2;
}
#profile-section .profileArea #uploadButton {
  position: absolute;
  transform: translate(50px, 230px);
  color: #888;
  background-color: transparent;
  border: 2px solid #888;
  border-radius: 50%;
  padding: 3px 4px 2px;
}
.profile-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 80px;
}
.profile-bottom * {
  margin: 4px;
}
.profile-bottom div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0.4rem 1.5rem -0.4rem rgba(10, 10, 20, 0.2);
}
.profile-bottom div:nth-last-child(2) {
  height: 80px;
}
.profile-bottom div:nth-last-child(2):hover,
.profile-bottom div:nth-last-child(3):hover,
.profile-bottom div:nth-last-child(4):hover {
  box-shadow: 0 0 5px rgba(246, 34, 87, 0.8);
}
.profile-bottom div span {
  color: #ababab;
  font-size: 24px;
}
.profile-bottom div input,
.profile-bottom div textarea {
  width: 300px;
  height: 25px;
  padding: 0 10px;
  border: none;
  border-radius: 7px;
  outline: none;
  font-size: 16px;
}
.profile-bottom div textarea {
  resize: none;
  border: none;
  height: 70px;
  padding-top: 10px;
}

.profile-bottom div #userIntro::-webkit-scrollbar {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.profile-bottom button {
  margin: 25px 0;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: #f2f2f2;
  background-color: #ed234b;
}
.profile-bottom button:hover {
  background-color: #ed234bc4;
}
/* 프로필 모달 */
.profilemodal {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  visibility: hidden;
}

.profilemodal.active {
  visibility: visible;
}

.profilemodal .profilemodalpage {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 50px 20px 30px;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

.profilemodal .profilemodalpage p {
  margin-bottom: 40px;
}

.profileArea .profilemodal .profilemodalpage .btnArea {
  display: flex;
}

.profileArea .profilemodal .profilemodalpage .btnArea button {
  width: 110px;
  height: 40px;
  border-radius: 5px;
  margin: 0 20px;
  color: #fff;
}

.profileArea .profilemodal .profilemodalpage .btnArea #submitModal {
  background: #ed234b;
}

.profileArea .profilemodal .profilemodalpage .btnArea #submitModal:hover {
  background: #f26581;
}

.profileArea .profilemodal .profilemodalpage .btnArea #closeModal {
  background: #ababab;
}

.profileArea .profilemodal .profilemodalpage .btnArea #closeModal:hover {
  background: #9f9f9f;
}
