#registerNotice {
  width: 90%;
  height: 90%;
  overflow-y: auto;
  background: #fff;
  box-shadow: 0 .4rem 3rem -.8rem #0a0a1433;
  border-radius: 10px;
  position: relative;
}

#registerNotice.register {
  overflow-y: inherit;
}

#registerNotice.register .regist-modal {
  display: block;
}

#registerNotice .title-wrap {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#registerNotice .title-wrap h2 {
  font-size: 30px;
  font-weight: 700;
}

#registerNotice .title-wrap .btn-wrap .registbtn {
  display: inline-block;
  width: 190px;
  height: 40px;
  line-height: 40px;
  background: #ED234B;
  color:#fff;
  padding-left: 10px;
  font-size: 14px;
  border-radius: 4px;
  transition: .3s;
}

#registerNotice .title-wrap .btn-wrap .btn:hover {
  background: #F26581;
}

#registerNotice .inner {
  padding: 0 30px;
}

#registerNotice .post-area {
  box-shadow: 0 0.4rem 1.5rem -0.4rem rgba(10, 10, 20, 0.2);
  margin: 10px 0;
  padding: 20px 20px 10px 20px;
  border-radius: 5px; 
}

#registerNotice .inner .p-top,
#registerNotice .inner .p-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#registerNotice .inner .p-top h4 {
  font-size: 16px;
  font-weight: 800;
  color: #222;
}
#registerNotice .inner .p-top p {
  font-size:14px;
  color:#bebebe;
}
#registerNotice .inner .p-top p .wDate {
  color:#ababab;
}

#registerNotice .inner .p-middle {
  line-height: 22px;
  font-size: 15px;
  margin: 20px 0 30px;
}

#registerNotice .inner .p-bottom .writer {
  display:flex;
  align-items: center;
}

#registerNotice .inner .p-bottom .writer .img-wrap {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  margin-right:10px;
}

#registerNotice .inner .p-bottom .writer .img-wrap img {
  width: 100%;
}

#registerNotice .inner .p-bottom .writer span {
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 500;
}

#registerNotice .inner .p-bottom .btn-wrap a {
  color: #5e5e5e;
  transition: .2s;
}

#registerNotice .inner .p-bottom .btn-wrap a:hover {
  color: #ED234B;
}

#registerNotice .loading-container {
  left:0;
  top:0;
}

/* 공지글 등록 창*/
.regist-modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: 0 .4rem 3rem -.8rem #0a0a1433;
  border-radius: 10px;
  z-index: 1;
}

.regist-modal .inner {
  width: 50%;
  margin: 0 auto;
  padding: 40px 0 !important;
  height:100%;
}

.regist-modal .inner .title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 40px;
}
.regist-modal .inner .title .material-symbols-outlined {
  font-weight: 500;
  position: absolute;
  left:0;
  top:0;
  cursor: pointer;
}
.regist-modal .inner .title h2 {
  font-size: 30px;
  font-weight: 700;
}

.regist-modal #notice-form {
  
}

.regist-modal #notice-form .formlist {
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
}

.regist-modal #notice-form .formlist.alignTop {
  align-items: start;
}

.regist-modal #notice-form .formlist input {
  border: 1px solid #c8c8c8;
  min-height: 40px;
  width: 75%;
  padding-left: 10px;
}

.regist-modal #notice-form .formlist input:focus {
  outline: none;
}

.regist-modal #notice-form .formlist label {
  width: 20%;
}

.regist-modal #notice-form .formlist label.required {
  position: relative;
}

.regist-modal #notice-form .formlist label.required::after {
  position: absolute;
  left: 40px;
  top: 0;
  content: "*";
  display: inline-block;
  font-weight: 700;
  color: #ED234B;
}

.regist-modal #notice-form .formlist textarea {
  border: 1px solid #c8c8c8;
  min-height: 80px;
  width: 75%;
  resize: none;
}

.regist-modal #notice-form .formlist textarea:focus {
  outline: none;
}

.regist-modal #notice-form .form-buttons {
  justify-content:center;
  padding-top:40px;
}

.regist-modal #notice-form .form-buttons .cancel-button {
  background: #ababab;
}
.regist-modal #notice-form .form-buttons .cancel-button:hover {
  background: #9a9a9a;
}
.regist-modal #notice-form .form-buttons .submit-button {
  background: #ED234B;
}
.regist-modal #notice-form .form-buttons .submit-button:hover {
  background: #F26581;
}