#registerNotice {
  width: 90%;
  height: 90%;
  overflow-y: auto;
  background: #fff;
  box-shadow: 0 .4rem 3rem -.8rem #0a0a1433;
  border-radius: 10px;
  position: relative;
}

#registerNotice.register ~ .regist-dimm {
  display: block;
}

#registerNotice.edit ~ .edit-dimm {
  display: block;
}

#registerNotice.delete ~ .delete-dimm {
  visibility: visible;
}

#registerNotice .title-wrap {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#registerNotice .title-wrap h2 {
  font-size: 30px;
  font-weight: 700;
}

#registerNotice .title-wrap .btn-wrap .registbtn {
  display: inline-block;
  width: 190px;
  height: 40px;
  line-height: 40px;
  background: #ED234B;
  color:#fff;
  padding-left: 10px;
  font-size: 14px;
  border-radius: 4px;
  transition: .3s;
}

#registerNotice .title-wrap .btn-wrap .btn:hover {
  background: #F26581;
}

#registerNotice .inner {
  padding: 0 30px;
}

#registerNotice .post-area {
  box-shadow: 0 0.4rem 1.5rem -0.4rem rgba(10, 10, 20, 0.2);
  margin: 10px 0;
  padding: 20px 20px 10px 20px;
  border-radius: 5px; 
}

#registerNotice .inner .p-top,
#registerNotice .inner .p-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#registerNotice .inner .p-top h4 .num {
  display:none;
}

#registerNotice .inner .p-top h4 {
  font-size: 16px;
  font-weight: 800;
  color: #222;
}
#registerNotice .inner .p-top p {
  font-size:14px;
  color:#bebebe;
}
#registerNotice .inner .p-top p .wDate {
  color:#ababab;
}

#registerNotice .inner .p-middle {
  margin: 20px 0 30px;
  display:flex;
  justify-content: space-between;
  align-items:flex-end;
}

#registerNotice .inner .p-middle .content {
  width: 90%;
  font-size: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 4.5em;
  line-height: 1.5em;
  position: relative;
}

#registerNotice .inner .p-middle .content.drop {
  -webkit-line-clamp: unset;
  height: auto;
}

#registerNotice .inner .p-middle .material-symbols-outlined {
  cursor: pointer;
  color: #5e5e5e;
  transition: .1s;
  display:block;
}

#registerNotice .inner .p-middle .material-symbols-outlined:hover {
  cursor: pointer;
  color: #222;
}

#registerNotice .inner .p-bottom .writer {
  display:flex;
  align-items: center;
}

#registerNotice .inner .p-bottom .writer .img-wrap {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  margin-right:10px;
}

#registerNotice .inner .p-bottom .writer .img-wrap img {
  width: 100%;
}

#registerNotice .inner .p-bottom .writer span {
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 500;
}

#registerNotice .inner .p-bottom .btn-wrap a {
  color: #5e5e5e;
  transition: .2s;
}

#registerNotice .inner .p-bottom .btn-wrap a:hover {
  color: #ED234B;
}

#registerNotice .loading-container {
  left:0;
  top:0;
}

/* 공지글 등록 창*/
.regist-dimm, .edit-dimm {
  display:none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  background: rgba(0,0,0,0.3);
  z-index: 2;
}

.delete-dimm {
  visibility: hidden;
}

.regist-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  width: 50%;
  height: 80%;
  background: #fff;
  box-shadow: 0 .4rem 3rem -.8rem #0a0a1433;
  border-radius: 10px;
  overflow-y: auto;
  padding: 50px 0 !important;
}

.regist-modal .inner {
  width: 75%;
  margin: 0 auto;

  height:100%;
}

.regist-modal .inner .title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 40px;
}
.regist-modal .inner .title .material-symbols-outlined {
  font-weight: 500;
  position: absolute;
  left:0;
  top:0;
  cursor: pointer;
}
.regist-modal .inner .title h2 {
  font-size: 30px;
  font-weight: 700;
}

.regist-modal #notice-form {
  position:relative;
  height: 90%;
}

.regist-modal #notice-form .formlist {
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0 20px;
}

.regist-modal #notice-form .formlist.alignTop {
  align-items: start;
}

.regist-modal #notice-form .formlist input {
  border: 1px solid #c8c8c8;
  min-height: 40px;
  width: 75%;
  padding-left: 10px;
}

.regist-modal #notice-form .formlist #writer,
.regist-modal #notice-form .formlist #email {
  color: #888;
}

.regist-modal #notice-form .formlist input:focus {
  outline: none;
}

.regist-modal #notice-form .formlist label {
  width: 20%;
}

.regist-modal #notice-form .formlist label.required {
  position: relative;
}

.regist-modal #notice-form .formlist label.required::after {
  position: absolute;
  left: 40px;
  top: 0;
  content: "*";
  display: inline-block;
  font-weight: 700;
  color: #ED234B;
}

.regist-modal #notice-form .formlist textarea {
  border: 1px solid #c8c8c8;
  min-height: 230px;
  width: 75%;
  resize: none;
  padding: 10px;
}

.regist-modal #notice-form .formlist textarea:focus {
  outline: none;
}

.regist-modal #notice-form .form-buttons {
  justify-content:center;
  padding-bottom: 50px;
}

.regist-modal #notice-form .form-buttons .cancel-button {
  background: #ababab;
}
.regist-modal #notice-form .form-buttons .cancel-button:hover {
  background: #9a9a9a;
}
.regist-modal #notice-form .form-buttons .submit-button {
  background: #ED234B;
}
.regist-modal #notice-form .form-buttons .submit-button:hover {
  background: #F26581;
}


@media screen and (max-width: 600px) {
  .regist-modal .inner .title .material-symbols-outlined {
    display: none;
  }

  .regist-modal #notice-form .formlist label,
  .regist-modal #notice-form .formlist input,
  .regist-modal #notice-form .formlist textarea {
    width: 100%;
    margin: 5px 0;
  }

}