@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gothic A1', sans-serif;
  background-color: #ffffff;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

#app {
  display: flex;
  height: 100vh;
  width: 100%;
}