@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gothic A1", sans-serif;
  background-color: #f2f2f2;
  color: #222;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; 
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#app {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 68px);
  height: calc(100% - 116px);
  margin-left: 68px;
  margin-top: 60px;
  margin-bottom: 56px;
}

a {
  text-decoration: none;
  color: inherit; 
}

button {
  border: none;
  cursor: pointer;
}

.container {
  width: 60%;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0.4rem 3rem -0.8rem #0a0a1433;
  text-align: center;
}

/* 로딩 에니메이션 */
.loading-container {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.loading-container.hidden {
  display: none;
}

@keyframes dot-blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loading-animation {
  display: flex;
  gap: 30px;
}

.loading-dot {
  width: 30px;
  height: 30px;
  background-color: #ed234b;
  border-radius: 50%;
  animation: dot-blink 1s infinite;
}

.loading-dot:nth-child(2) {
  animation-delay: 0.3s;
}

.loading-dot:nth-child(3) {
  animation-delay: 0.6s;
}

/* 스크롤바 */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #d6d6d6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ed234b;
  border-radius: 10px;
}